@page
@model WebApp.Pages_Questions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question.QuizId" class="control-label"></label>
                <select asp-for="Question.QuizId" class="form-control" asp-items="ViewBag.QuizId"></select>
                <span asp-validation-for="Question.QuizId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.QuestionName" class="control-label"></label>
                <input asp-for="Question.QuestionName" class="form-control" />
                <span asp-validation-for="Question.QuestionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.TimesAnswered" class="control-label"></label>
                <input asp-for="Question.TimesAnswered" class="form-control" />
                <span asp-validation-for="Question.TimesAnswered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.TimesAnsweredCorrect" class="control-label"></label>
                <input asp-for="Question.TimesAnsweredCorrect" class="form-control" />
                <span asp-validation-for="Question.TimesAnsweredCorrect" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Question.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
